

body {
  font-family: "Playfair Display";
  font-size: 17px;
  color: #1A4870;
  line-height: 1.6;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  background-attachment: fixed;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .circle-pic {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .circle-pic {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .circle-pic {
    width: 200px;
    height: 200px;
  }
}


h1, h2 {
  font-family: "Bebas Neue";
  line-height: normal;
}

a {
  color: #6C48C5;
  text-decoration: none;
}

a:hover {
  color: rgb(218, 117, 212);
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.card-white {
  text-align: center;
  background-color: #D1E9F6CC;
  padding: 20px;
  border: 1px solid lightgrey;
  margin: 20px 0;
  border-radius: 10px;
}

#bruna_photo {
  background-image: url('images/bruna.jpg');
  background-size: cover; /* Cover the entire area of the element */
  transition: background-image 0.5s ease-in-out; /* Smooth transition */
  /* https://www.joshwcomeau.com/animation/css-transitions/ */
}
div:hover #bruna_photo {
  background-image: url('images/drawBru.jpg'); /* Initial background image */

}

.circle-pic {
  border-radius: 50%;
  width: 200px;
  height:200px;
}

.social_links {
  list-style-type: none;
  padding: 0;
}

.social_links li {
  display: inline;
  padding: 0 10px;
  font-size: 50px;
}
